
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: forestgreen;
    
}
.main{
    background-color: olivedrab;
    width: 400px;
    height: min-content;
    border: solid white 3px;
    border-radius: 10px;
    
}
.main{
    align-self: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}
div{
    background-color: darkgreen;
    width: 16px;
    height: 16px;
    margin: 0px;
    flex-shrink: 0;
}
.btn {
    margin: 10px;
    width:fit-content;
    height: fit-content;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgreen;
    color: white;
    border: solid white 3px;
}